* {
	font-family: Tahoma;
}


.container{
	width: 70%;
	height: 3000px;
	margin: 5% 15%;
}

.buttons {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}


.btn{
	display: block;
	margin: 5% auto;
	width: 200px;
	height: 50px;
	background-color: #D12D32FF;
	cursor: pointer;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.btn span{
	display: flex;
	justify-content: center;
	text-align: center;
	line-height: 50px;
	text-decoration: none;
	color: #FFFFFFFF;
	font-size: 20px;

}

.b, .d {
	display: none;
}

.circle-main {
	max-width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    margin: -27px auto;
    transform: rotateZ(0deg);
    perspective: 1000px;

}

.circle-1, .circle-2 {
	border: 1px solid #595959FF;
	border-radius: 50%;
	margin: 50px;
	position: relative;
}

.circle-ico {
	min-width: 30px;
	height: 22px;
	background-color: #CA4B34FF;
	position: relative;
	left: -23px;
	bottom: -50px;
	border-radius: 50%;
	overflow: hidden;
}



.circle-1 {
	min-width: 100px;
	min-height: 100px;
	right: -91px;
	background-color: #757575FF;
}

.circle-2 {
	min-width: 60px;
	height: 60px;
	right: 91px;
	bottom: -19px;
	left: -120px;
	background-color: white;
}

.circle-main-2 {
	display: block;
	box-sizing: border-box;
	position: static;
	margin: auto auto;	
	max-width: 105px;
	min-height: 105px;
	perspective: 1000px;
}


.circle-2-1, .circle-2-2 {
	border: 1px solid #595959FF;
	border-radius: 50%;
	position: absolute;
}

.circle-2-1 {
	min-width: 100px;
	min-height: 100px;
	margin: 1.4px;
	background-color: #757575FF;
}

.circle-2-2 {
	box-sizing: border-box;
	min-width: 60px;
	min-height: 60px;
	margin: 20.1px;
	background-color: white;
	z-index: 1;
}

.circle-ico-2 {
	display: block;
	box-sizing: border-box;
	min-width: 30px;
	min-height: 22px;
	background-color: #CA4B34FF;
	border-radius: 50%;
	left: 35px;
	position: absolute;
	z-index: 0;
}
